name: Daily MAF tests

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
    - cron: '00 23 * * *' # Executes every night at 23:00.

jobs:
  # Checks whether the repository was updated within the last 25 hours (provide some overlap) and sets an environment flag.
  # Inspired by: * https://github.community/t/trigger-workflow-if-there-is-commit-in-last-24-hours/17074
  #              * https://github.com/rotators/Fo1in2/blob/33b3f45a9fd69757c8e8a5e698197cccadf8a1ae/.github/workflows/schedule.yml#L22-L65
  activity-check:
    name: Activity check
    steps:
      - name: Activity check
        run: |
          curl -sL https://api.github.com/repos/$GITHUB_REPOSITORY/commits | jq -r '[.[]][0]' > $HOME/latest-commit.json
          date="$(jq -r '.commit.author.date' $HOME/latest-commit.json)"
          timestamp=$(date --utc -d "$date" +%s)
          hours=$(( ( $(date --utc +%s) - $timestamp ) / 3600 ))
          rm -f $HOME/latest-commit.json
          if [$hours -le 25]
            echo ::set-env name=MAF_REPO_ACTIVE::true
          fi
        shell: bash
  # The compile job fetches the code and attempts to compile it.
  compile:
    name: Compile MAF
    runs-on: ubuntu-latest
    needs: activity-check
    if: env.MAF_REPO_ACTIVE == 'true'
    steps:
      # Send a notification to Slack.
      - name: Notify push
        id: slack
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: maf
          status: STARTED
          color: warning
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      # Check out the GitHub repository.
      - name: Checkout the repository
        uses: actions/checkout@v2
      # Compile the code.
      - name: Compile MAF
        uses: lokkju/github-action-sbt@v0.2.2
        with:
          commands: compile
  # The test-lattice job executes the lattice tests.
  test-lattice:
    name: Execute lattice tests
    runs-on: ubuntu-latest
    needs: compile
    steps:
      - uses: actions/checkout@v2
      - uses: lokkju/github-action-sbt@v0.2.2
        with:
          commands: maf/testOnly maf.test.language.scheme.SchemeLatticeTests
      # If failed, update the Slack notification.
      - name: Notify slack fail
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          message_id: ${{ steps.slack.outputs.message_id }}
          channel: maf
          status: FAILED
          color: danger
  # The test-R5RS job executes the R5RS tests.
  test-R5RS:
    name: Execute primitive tests
    runs-on: ubuntu-latest
    needs: compile
    steps:
      - uses: actions/checkout@v2
      - uses: lokkju/github-action-sbt@v0.2.2
        with:
          commands: maf/testOnly maf.test.language.scheme.SchemeR5RSTests
      # If failed, update the Slack notification.
      - name: Notify slack fail
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          message_id: ${{ steps.slack.outputs.message_id }}
          channel: maf
          status: FAILED
          color: danger
  # The test-parser job executes the parser tests.
  test-parser:
    name: Execute parser tests
    runs-on: ubuntu-latest
    needs: compile
    steps:
      - uses: actions/checkout@v2
      - uses: lokkju/github-action-sbt@v0.2.2
        with:
          commands: maf/testOnly maf.test.language.scheme.ParserTests
      # If failed, update the Slack notification.
      - name: Notify slack fail
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          message_id: ${{ steps.slack.outputs.message_id }}
          channel: maf
          status: FAILED
          color: danger
  # The test-soundness job executes the soundness tests.
  test-soundness:
    name: Execute soundness tests (using ${{ matrix.test_class }})
    runs-on: ubuntu-latest
    needs: compile
    timeout-minutes: 480 # 8 hours
    strategy:
      fail-fast: false
      matrix:
        test_class: [BigStepSchemeModFSoundnessTests, SmallStepSchemeModFSoundnessTests, SmallStepSchemeModConcSoundnessTests]
    steps:
      - uses: actions/checkout@v2
      - uses: lokkju/github-action-sbt@v0.2.2
        with:
          commands: maf/testOnly maf.test.modular.scheme.${{ matrix.test_class }}
      # If failed, update the Slack notification.
      - name: Notify slack fail
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          message_id: ${{ steps.slack.outputs.message_id }}
          channel: maf
          status: FAILED
          color: danger
  # The test-soundness-incremental job executes the soundness tests for the incremental analyses.
  test-soundness-incremental:
    name: Execute soundness tests (using ${{ matrix.test_class }})
    runs-on: ubuntu-latest
    needs: compile
    timeout-minutes: 480 # 8 hours
    strategy:
      fail-fast: false
      matrix:
        test_class: [ IncrementalSmallStepModConc, IncrementalSmallStepModConcCP, IncrementalModF, IncrementalModFCP, IncrementalSmallStepModConcCPStoreOpt, IncrementalModFCPStoreOpt ]
    steps:
      - uses: actions/checkout@v2
      - uses: lokkju/github-action-sbt@v0.2.2
        with:
          commands: maf/testOnly maf.test.modular.scheme.incremental.${{ matrix.test_class }}
      # If failed, update the Slack notification.
      - name: Notify slack fail
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          message_id: ${{ steps.slack.outputs.message_id }}
          channel: maf
          status: FAILED
          color: danger
  notify-success:
    name: Notify success
    runs-on: ubuntu-latest
    needs: [test-lattice, test-R5RS, test-parser, test-soundness, test-soundness-incremental]
    steps:
      # Send a notification to Slack.
      - name: Notify slack success
        if: success()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          message_id: ${{ steps.slack.outputs.message_id }}
          channel: maf
          status: SUCCESS
          color: good
