name: Daily MAF evaluation

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
    - cron: '00 23 * * *' # Executes every night at 23:00.
  push:
    branches: [ actions ]

jobs:
  # The compile job fetches the code and attempts to compile it.
  compile:
    name: Evaluate precision
    runs-on: ubuntu-latest
    timeout-minutes: 480 # 8 hours
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v10
        with:
          java-version: openjdk@1.15
      - name: Run precision benchmarks
        run: sbt "maf/runMain maf.cli.experiments.precision.DailyPrecisionBenchmarks"
      - name: Upload the benchmark results
        uses: actions/upload-artifact@v2
        with:
          name: Precision benchmarks results
          path: benchOutput/precision/daily-precision-benchmarks.csv
      - name: Upload to Slack
        uses: adrey/slack-file-upload-action@master
        with:
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          path: benchOutput/precision/daily-precision-benchmarks.csv
          channel: maf-logs
          initial_comment: "Results of last night's precision evaluation."
  performance-evaluation:
    name: Execute performance evaluation with JMH
    runs-on: self-hosted
    timeout-minutes: 60
    strategy:
      fail-fast: false
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v10
        with:
          java-version: openjdk@1.15
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
      - name: Run performance benchmarks
        # 3 warmup runs (wi), 5 iterations afterwards (i), one fork (f), one thread (t)
        run: sbt "maf/jmh:run -rf json -rff jmh-results-${GITHUB_SHA}-${{ steps.date.outputs.date }}.json -wi 3 -i 10 -f 1 -t 1"
      - name: Identify last successful run of performance evaluation
        uses: simondotm/last-successful-commit-action@v2
        id: last_successful_commit
        with:
          branch: master
          workflow_id: evaluation.yml
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Download previous benchmark results
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: evaluation.yml
          name: Performance evaluation results
          commit: ${{ steps.last_successful_commit.outputs.commit_hash }}
          path: artifact/
      - run: mv code/jvm/jmh-results-*.json artifact/
      - name: Upload the benchmark results
        uses: actions/upload-artifact@v2
        with:
          name: Performance evaluation results
          path: artifact/*.json
      - name: Install python dependencies
        uses: BSFishy/pip-action@v1
        with:
          packages: |
            pandas
            seaborn
      - name: Generate graph
        run: python ./benchmarks/graphs.py
      - name: Upload graph to Slack
        uses: adrey/slack-file-upload-action@master
        with:
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          path: output.pdf
          channel: maf-logs
          initial_comment: "Results of last night's performance evaluation."
      - name: Notify slack fail
        if: failure() || cancelled()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          message_id: ${{ steps.slack.outputs.message_id }}
          channel: maf-logs
          status: FAILED
          color: danger
