name: MAF tests on action

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  # The compile job fetches the code and attempts to compile it.
  build:
    name: Compile Scala-AM
    runs-on: ubuntu-latest
    steps:
    #- name: Notify push
    #  id: slack
    #  uses: voxmedia/github-action-slack-notify-build@v1
    #  with:
    #    channel: maf
    #    status: STARTED
    #    color: warning
    #  env:
    #    SLACK_BOT_TOKEN: softlab:56TdHAxAGnw63epRiBg52cGA
    - name: Checkout the repository
      uses: actions/checkout@v2
    - name: Compile Scala-AM
      uses: lokkju/github-action-sbt@v0.2.2
      with:
        commands: compile
    - name: Run the tests
      uses: lokkju/github-action-sbt@v0.2.2
      with:
        commands: maf/testOnly -- -l SlowTest
    #- name: Notify slack success
    #  if: success()
    #  env:
    #    SLACK_BOT_TOKEN: softlab:56TdHAxAGnw63epRiBg52cGA
    #  uses: voxmedia/github-action-slack-notify-build@v1
    #  with:
    #    message_id: ${{ steps.slack.outputs.message_id }}
    #    channel: maf
    #    status: SUCCESS
    #   color: good
    #- name: Notify slack fail
    #  if: failure()
    #  env:
    #    SLACK_BOT_TOKEN: softlab:56TdHAxAGnw63epRiBg52cGA
    #  uses: voxmedia/github-action-slack-notify-build@v1
    #  with:
    #    message_id: ${{ steps.slack.outputs.message_id }}
    #    channel: maf
    #    status: FAILED
    #    color: danger